body{
    padding-top: 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-position: inside;
    background-color: #faf3ea;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

input{
    width:180px;
}

.container{
    border:3px solid black;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    width: 50%;
    height: 100%;
    margin-bottom: 10px;
    background-color: black;
}


h1{
    font-size: 45px;    
}

.info h2{
    text-align: center;
    font-size: 24px;
}

.info ul{
    padding: 10px;
    font-size: 15px;
}